body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
  height: 100vh;
}

#odometer {
  border: 1px solid red;
  display: flex;
  margin-top: 10px;

  overflow: hidden;
  /* transition-duration: 500ms; */
}



.num {
  transition-duration: 300ms;
  /* border: 1px solid green; */
  width: 20px;
  height: 340px;
}


.no-display {
  display: none;
}

