body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#odometer {
  /* border: 1px solid red; */
  display: flex;
  margin-top: 10px;
  justify-content: flex-end;
  overflow: hidden;
}



.num {
  transition-duration: 300ms;
  width: 20px;
  height: 340px;
}


.no-display {
  display: none;
}

